.container {
  display: inline-block;
  cursor: pointer;
}

.bar {
  background-color: var(--black);
  display: block;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  width: 25px;
}

.container.active .bar:nth-child(2) {
  opacity: 0;
}

.container.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.container.active .bar:nth-child(3)  {
  transform: translateY(-8px) rotate(-45deg);
}